<!DOCTYPE HTML>
<html>
	<head>
			<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/projects.css">
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
		<title>Kickstarter</title>
	</head>
	<body>
		<center>
		<nav class="navbar navbar-default">
			<a href='/'><img src="images/flstarter_logo.png" width=650px; height:400px;></a>
  <div class="container-fluid">
  </div>
</nav>
			
			<div class="projects">
				<%# @projects.reverse_each do |project|%>
				<%#= project.name %>
				<%# end %>
			</div>
			
	</body>
</html>